body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.full-screen {
  height: 100%;
  width: 100%;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bg-oled-black {
  background-color: #000;
}

.btn-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  line-height: 60px;
  font-size: 24px;
}

.btn-primary {
  background-color: #ff6b6b;
  border-color: #ff6b6b;
}

.btn-primary:hover {
  background-color: #ff4d4d;
  border-color: #ff4d4d;
}

.text-white {
  color: #fff !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.dynamic-text {
  font-weight: bold;
  animation: glow 2s ease-in-out infinite alternate;
}

.dynamic-dot {
  font-weight: bold;
  animation: blink 1s ease-in-out infinite;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff;
  }
  to {
    text-shadow: 0 0 20px #ff6b6b;
  }
}
/* tem */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
